<!-- password change page. -->

{% extends 'vtshop/base.html' %}

{% block title %}Mot de passe oublié{% endblock title %}

{% block content %}

{% load myfilters %}

<div class="container-sm my-3 min-vh-100">
    
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }} {{ field|addclass:'form-control' }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Confirmer</button>
    </form>

</div>

{% endblock content %}