<!-- password change page. -->

{% extends 'vtshop/base.html' %}

{% block title %}Mot de passe oublié{% endblock title %}

{% block content %}

{% load myfilters %}

<div class="container-sm my-3 min-vh-100">
    <div class="fs-3 mb-3">
        Mot de passe oublié
    </div>
    
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }} {{ field|addclass:'form-control' }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="form-text mb-3">
            Veuillez renseigrer votre adresse mail, svp.
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>

</div>
{% endblock content %}