<!-- footer of all vtshop pages -->

<div class="container-fluid  bg-body-tertiary">
    <!-- py-3 my-4 -->
    <footer class="">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a
          href="{% url 'vtshop:home' %}"
          class="nav-link px-2 text-body-secondary"
          >VTshop</a
        >
      </li>
      <li class="nav-item">
        <a
          href="{% url 'vtshop:contact' %}"
          class="nav-link px-2 text-body-secondary"
          >Nous contacter</a
        >
      </li>
      <li class="nav-item">
        <a
          href="{% url 'vtshop:about' %}"
          class="nav-link px-2 text-body-secondary"
          >À propos</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          >CGU</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          >Politique de confidentialité</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          >Mentions Légales</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Twitter</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">LinkedIn</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Facebook</a>
      </li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 Victory Touchdown, Inc</p>
  </footer>
</div>