<!-- Employee create page, "Créer un employé". -->

{% extends 'vtshop/base.html' %}

{% block title %}Créer un employé{% endblock title %}

{% block content %}

{% load myfilters %}

<div class="container-sm min-vh-100">

    <div class="fs-3 mb-3">Créer un employé</div>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != "company" %}
                <div class="mb-3">
                    {{ field.label_tag }} {{ field|addclass:'form-control' }}
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Créer</button>
    </form>

    <div class="my-3">
        <a
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="{% url 'vtshop:employees' %}">Voir tous les employés
        </a>
    </div>
    
</div>

{% endblock content %}