<!-- contact page, "contact". -->

{% extends 'vtshop/base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}

{% load myfilters %}

<div class="container-sm min-vh-100">
    
    <div class="fs-3 mb-3">Nous contacter</div>

<!-- Email : Contact form -->
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }} {{ field|addclass:'form-control' }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

</div>

{% endblock content %}